.location-search-input,
.location-search-input:focus,
.location-search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border: rgb(52, 47, 47);
  display: block;
  width: 400;
  padding: 18px;
  font-size: 16px;
  border-radius: 3px;
  outline: grey;
}
.autocomplete-dropdown-container {
  border-bottom: darkgrey;
  border-left: darkgrey;
  border-right: darkgrey;
  border-top:darkgrey;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 2;
  border-radius: 0 0 2px 2px;
  background-color: white;
}
